<main>
		<div class="container">
			<div class="row mt-5">
				<h3 class="myRedText pt-4"><b>Admin Panel</b></h3>
				
				<div>
					<h5 class="py-2">Pending Membership Requests <span class="badge bg-secondary rounded-pill">{{applicants.length}}</span></h5>
					<div class="border border-secondary rounded my-2 py-3 px-5" style="width:70%">
					<ul>
						{{#each applicants}}
						<li class="list-group-item list-group-item-secondary">
							<div class="d-flex my-2 align-items-center">
								<div class="col-1">
									{{@key}}.
								</div>
								<div class="col-7">
									<ul class="list-inline">
										<li class="list-inline-item">{{this.first_name}} {{this.last_name}},  {{this.email}}</li>
									</ul>
								</div>
								
								<div class="col-4">
									<a href="/admin/application-accepted/{{email}}" class="btn btn-dark py-1">Accept</a>
									<a href="/admin/application-rejected/{{email}}" class="btn btn-dark py-1">Reject</a>
								</div>
							</div>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>

			<div>
				<h5 class="mt-4 py-2">Pending Messages <span class="badge bg-secondary rounded-pill">{{messages.length}}</span></h5>
				<div class="border border-secondary rounded my-2 py-3 px-5" style="width:70%">
					<ul>
						{{#each messages}}
						<li class="list-group-item list-group-item-secondary">
							<div class="d-flex my-2 align-items-center">
								<div class="col-1">
									{{this.id}}.
								</div>
								<div class="col-9">
									<ul class="list-inline">
										<li class="list-inline-item text-decoration-underline">{{this.first_name}} {{this.last_name}}</li>
									</ul>
									<p>{{this.description}}</p>
								</div>
								<div class="col-2 ms-4">
									<button class="btn btn-dark">Answer</button>
								</div>
							</div>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>

				<div>
					<h5 class="mt-4 py-2">Upcoming Events <span class="badge bg-secondary rounded-pill">{{numberOfEvents}}</span></h5>
					<div class="border border-secondary rounded my-2 py-3 px-5" style="width:70%">
						<h4 class="mt-4 py-2">
							External Events&nbsp;&nbsp;
							<a href="#" class="btn btn-primary"><b>Create New Event</b></a>
						</h4>
						<div class="d-flex my-2">
						{{#each extEvents}}
							<div class="card mb-4">
								<div class="card-body">
									<center>
										<h5 class="card-title"><b>{{this.name}}</b></h5>
										<h6>{{this.place}}, {{this.start_date}}</h6>
										<p class="card-text"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal{{id}}" class="text-to-click"><b>see more....</b></a></p>
										<a href="#" class="btn btn-primary"><b>update</b></a>
										<a href="#" class="btn btn-primary"><b>delete</b></a>
									</center>
								</div>

							</div>    
							<div class="modal events-modals" id="myModal{{id}}" style="display: none;">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">{{this.name}}</h5>
									</div>
									<div class="modal-body">
										<p>{{this.description}}</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
									</div>
									</div>
								</div>
							</div>
						{{/each}}
						</div>

						<h4 class="mt-4 py-2">
							Internal Events&nbsp;&nbsp;
							<a href="/event-created" class="btn btn-primary"><b>Create New Event</b></a>
						</h4>
						<div class="d-flex my-2">
						{{#each intEvents}}
							<div class="card mb-4">
								<div class="card-body">
									<center>
										<h5 class="card-title"><b>{{this.name}}</b></h5>
										<h6>{{this.place}}, {{this.start_date}}</h6>
										<p class="card-text"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal{{id}}" class="text-to-click"><b>see more....</b></a></p>
										<a href="#" class="btn btn-primary"><b>update</b></a>
										<a href="#" class="btn btn-primary" id="delEventbtn"><b>delete</b></a>
									</center>
								</div>
							</div>    
							<div class="modal events-modals" id="myModal{{id}}" style="display: none;">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">{{this.name}}</h5>
									</div>
									<div class="modal-body">
										<p>{{this.description}}</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
									</div>
									</div>
								</div>
							</div>
						{{/each}}
							</div>
						</div>
				</div>

			</div>
		</div>



</main>