<main>
      <div class="container">
          <h3 class="myMainHeader py-3 text-center"><b>External Events</b></h3>
          
              <p class="pd-2">
                  <center>External events are a great opportunity for students who aren’t familiar with our organization and want to <b>get to know us better!</b>
                  Through your participation in such event, be sure that you will gain valuable skills, have fun and get to know many like-minded people.
                  <br>So what are you waiting for? Apply in as many actions as you wish from the list below:</center><br>
              </p>

              <div class="d-flex flex-wrap justify-content-between">
                {{#if events}}
                  {{#each events}}
                    <div class="card mb-4">
                      <img src="/{{photo}}" class="card-img-top custom-img-size" alt="Card Image">
                      <div class="card-body">
                        <center>
                          <h5 class="card-title"><b>{{name}}</b></h5>
                          <h6>{{place}}, {{start_date}}</h6>
                          <p class="card-text"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal{{id}}" class="text-to-click"><b>see more....</b></a></p>
                          <a href="/externalEvents/apply/{{id}}" class="btn btn-dark mb-3">apply</a>                        
                        </center>
                      </div>
                    </div>    
                    <div class="modal events-modals" id="myModal{{id}}" style="display: none;">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">{{name}}</h5>
                          </div>
                          <div class="modal-body">
                            <p>{{description}}</p>
                          </div>
                          <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="/externalEvents/apply/{{id}}" data-bs-toggle="modal" data-bs-target="#myEventApplyModal{{id}}" class="btn btn-dark mb-3" >Apply</a>
                                </div>
                                  <div class="col-md-6">
                                      <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Back</button>
                                  </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {{/each}}

                {{/if}}
                {{#else}}
                  <h5>Sadly there are no upcoming events. Stay tuned though, because there will be many of them soon!</h5>
                {{/else}}     
              </div>
              
              {{#if showModal}}
              <div id="myEventApplyModal{{id}}" class="modal myEventApplyModal" style="display: block;">
                  <div id="myEventApplyModalContent" class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Apply</h5>
                      </div>
                      <div class="modal-body">
                        <form action="/externalEvents/apply/{{id}}" method="POST">
                          <div class="form-group py-1">
                            <label for="ApplicationName1">Name</label>
                            <input type="text" class="form-control" id="ApplicationName" placeholder="Enter your Name" required>
                          </div>
                          <div class="form-group py-1">
                            <label for="ApplicationSurname1">Surname</label>
                            <input type="text" class="form-control" id="ApplicationSurname" placeholder="Enter your Surname" required>
                          </div>
                          <div class="form-group py-1">
                            <label for="ApplicationEmail1">Email address</label>
                            <input type="email" class="form-control" id="ApplicationEmail" placeholder="Enter email" required>
                          </div>
                          <div class="form-group  py-1">
                            <label for="ApplicationPhoneNumber2">Phone Number</label>
                            <input type="tel" class="form-control" id="ApplicationPhoneNumber" placeholder="Enter phone number" required>
                          </div>
                        </form>
                      </div>
          
                      <div class="modal-footer">
                        <div class="row">
                          <div class="col-md-6">
                            <a href="/externalEvents/apply/{{id}}" data-bs-toggle="modal" data-bs-target="#myEventApplyModal{{id}}" class="btn btn-dark mb-3" >Apply</a>
                          </div>
                          <div class="col-md-6">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal" >Back</button>
                          </div>
                        </div>
                      </div>
                    </div>             
                 </div>
              </div>
          {{/if}}
              

      </div>
  </main>
