<main>
      <div class="container">
          <h3 class="myMainHeader py-3 text-center"><b>External Events</b></h3>
          
              <p class="pd-2">
                  <center>External events are a great opportunity for students who aren’t familiar with our organization and want to <b>get to know us better!</b>
                  Through your participation in such event, be sure that you will gain valuable skills, have fun and get to know many like-minded people.
                  <br>So what are you waiting for? Apply in as many actions as you wish from the list below:</center><br>
              </p>
              
              <div class="d-flex flex-wrap justify-content-between">
                {{#if events}}
                  {{#each events}}
                    <div class="card mb-4">
                      {{!-- <img src="files/photos/ex-events1.jpeg" class="card-img-top custom-img-size" alt="External event 1"> --}}
                      <div class="card-body">
                        <center>
                          <h5 class="card-title"><b>{{name}}</b></h5>
                          <h6>{{place}}, {{start_date}}</h6>
                          <p class="card-text"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal{{id}}" class="text-to-click"><b>see more....</b></a></p>
                            {{#if adminData}}
                              <button type="submit" class="btn btn-dark mb-3 disabled">apply</button>
                            {{else}}
                              <button type="submit" class="btn btn-dark mb-3">apply</button>
                            {{/if}}
                        </center>
                      </div>
                    </div>    
                    <div class="modal events-modals" id="myModal{{id}}" style="display: none;">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">{{name}}</h5>
                          </div>
                          <div class="modal-body">
                            <p>{{description}}</p>
                          </div>
                          <div class="modal-footer">
                           {{#if adminData}}
                            <button type="submit" class="btn btn-dark mb-3 disabled">apply</button>
                          {{else}}
                            <button type="submit" class="btn btn-dark mb-3">apply</button>
                          {{/if}}
                          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Back</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                {{/if}}
                {{#else}}
                  <h5>Sadly there are no upcoming events. Stay tuned though, because there will be many of them soon!</h5>
                {{/else}}     
              
              </div>
      </div>
  </main>
