<main>
  <div class="container">
    <h3 class="myMainHeader py-3 text-center"><b>Internal Events</b></h3>
      <p class="pd-2">
        <center>Internal events are available to all our members! It is a great opportunity to spend some <b>quality
        time together</b>, bond and have fun.
        <br><b>Login</b> and participate in the available options listed below:</center><br>
    </p>
    <div class="d-flex flex-wrap justify-content-between">
      {{#if events}}
        {{#each events}}
          <div class="card mb-4">
            {{!-- <img src="files/int-photos/meetup.jpeg" class="card-img-top custom-img-size" alt="Internal event 1"> --}}
            <div class="card-body">  
              <center>
                <h5 class="card-title"><b>{{name}}</b></h5>
                <h6>{{place}}, {{start_date}}</h6>
                <p class="card-text"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal{{id}}" class="text-to-click"><b>see more....</b></a></p>
                {{#if adminData}}
                  <button type="submit" class="btn btn-dark mb-3 disabled">apply</button>
                {{else}}
                  <button type="submit" class="btn btn-dark mb-3">apply</button>
                {{/if}}
              </center> 
            </div>
          </div>
          <div class="modal events-modals" id="myModal{{id}}" style="display: none;">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{name}}</h5>
                </div>
                <div class="modal-body">
                  <p>{{description}} </p>
                </div>
                <div class="modal-footer">
                {{#if adminData}}
                  <button type="submit" class="btn btn-dark mb-3 disabled">apply</button>
                {{else}}
                  <button type="submit" class="btn btn-dark mb-3">apply</button>
                {{/if}}
                  <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Back</button>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      {{/if}}
      {{#else}}
        <h5>Sadly there are no upcoming events. Stay tuned though, because there will be many of them soon!</h5>
      {{/else}}
    </div>  
  </div>  
</main>
