<main>
	{{#each memberData}}
        <div class="container">

            <div class="row mt-5">
                <h3 class="myRedText mt-4"><b>My Profile</b></h3>
                <h4 class="mt-4"><b>User Info</b></h4>
                <div class="border border-secondary rounded my-2 py-4 px-5">
                    <div class="row">
                        <div class="col-8">
                            <div class="container">
                                <div class="row">
									<div class="col-6">
										<h6>First Name</h6>
										<p class="myProfileData border border-secondary rounded px-2 py-1" contenteditable="true" id="userFirstName">{{this.first_name}}</p>
									</div>
									<div class="col-6">
										<h6>Last Name</h6>
										<p class="myProfileData border border-secondary rounded px-2 py-1" contenteditable="true" id="userLastName">{{this.last_name}}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<h6>Email address</h6>
										<p class="myProfileData border border-secondary rounded px-2 py-1 text-wrap" contenteditable="true" id="userEmail">{{this.email}}</p>
									</div>
									<div class="col-6">
										<h6>Password</h6>
										<p class="myProfileData border border-secondary rounded px-2 py-1" contenteditable="true" id="userPassword">{{this.password}}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<h6>Phone Number</h6>
										<div class="d-flex">
											<p class="myProfileData border border-secondary rounded px-2 py-1 flex-grow-1 align-self-center" contenteditable="true" id="userPhoneNumber">{{this.phone}}</p>
										</div>
									</div>
									<div class="col-6 d-flex align-items-center justify-content-center">
										 <button id="updateButton" class="btn btn-dark mb-3">Update Info</button>
										{{!-- <a href="/profile/update/{{userFirstName}}/{{userLastName}}/{{userEmail}}/{{userPassword}}/{{userPhoneNumber}}" id="updateLink" class="btn btn-dark mb-3">Update Info</a>										<button class="btn btn-dark" id="updateButton">Update Info</button> --}}
									</div>
								</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row justify-content-end">
                                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                            </div>
							<div class="row justify-content-end mt-2">
								<button class="btn btn-dark">
									Upload new photo
								</button>
							</div>
							<div class="row justify-content-end my-1">
								<button class="btn btn-dark">
									Delete
								</button>
							</div>
                            <div class="row justify-content-end">
                                <p class="text-faded pt-2 text-center">Member since {{this.registration_date}}</p>
                            </div>
                        </div>
				</div>
            </div>
       		</div>

			<div class="row mt-5">
				<h4 class="mt-4 "><b>Events</b></h4>
				<div class="border border-secondary rounded my-2 py-4 px-5">
					<div>
						<h5>Past Events</h5>
							<p class="pt-2 fst-italic">Hello {{this.first_name}}! Here you can see in which events you have participated so far. Let’s take a look:</p>
	{{/each}}     
						<div class="container">
							<div class="row">
								{{#each eventsPast}}
								<div class="col-lg-3 col-md-6 mb-4 d-flex">
									<div class="card" style="width: 100%;">
										<div class="card-body">
											<h5 class="card-title"><b>{{this.name}}</b></h5>
											<h6>{{this.place}}, {{this.start_date}}</h6>
											<p class="card-text"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal{{this.id}}" class="text-to-click"><b>See more...</b></a></p>
										</div>
									</div>
									<div class="modal events-modals" id="myModal{{this.id}}" style="display: none;">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">{{this.name}}</h5>
											</div>
											<div class="modal-body">
												<p>{{this.description}}</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Back</button>
											</div>
											</div>
										</div>
									</div>
								</div>
								{{/each}}
							</div>
						</div>
						<div>
							<h5 class="pt-3">Upcoming Events</h5>
								<p class="pt-2 fst-italic">Don’t forget that you also have some upcoming events soon!</p>
								<div class="container">
							<div class="row">
								{{#each eventsFuture}}
								<div class="col-lg-3 col-md-6 mb-4 d-flex">
									<div class="card" style="width: 100%;">
										<div class="card-body">
											<h5 class="card-title"><b>{{this.name}}</b></h5>
											<h6>{{this.place}}, {{this.start_date}}</h6>
											<p class="card-text"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal{{this.id}}" class="text-to-click"><b>See more...</b></a></p>
										</div>
									</div>
									<div class="modal events-modals" id="myModal{{this.id}}" style="display: none;">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">{{this.name}}</h5>
											</div>
											<div class="modal-body">
												<p>{{this.description}}</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Back</button>
											</div>
											</div>
										</div>
									</div>
								</div>
								{{/each}}
							</div>
						</div>
						</div>
					</div>
				</div>
        </div>   

</main>